.input {
    margin-left: 10px;
    border-radius: 10px;
    border: none;
    width: 100%;
    height: 100%;
}
  
.input:focus {
    outline: none;
}
  
.inputForm:focus-within {
    border: 1.5px solid #2d79f3;
}